/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Pacifico&display=swap');

:root{

    /* Fonts */
    --font-inter: 'Inter', sans-serif;
    --font-pacifico: "Pacifico", cursive;

    /* spacing scale */
    --spacing-2: 0.125rem;
    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-16: 1rem;
    --spacing-24: 1.5rem;
    --spacing-32: 2rem;
    --spacing-48: 3rem;
    --spacing-64: 4rem;

    /* colors */
    --primary-color: #FAFAFA;
    --secondary-color: #1C1C1C;
    --title-color: #DB343F;
    --green-color: #2C4C3B;
    --gray-color: #E5E7EB;

    /* text on dark backgrounds */
    --text-on-dark: #FFFFFF;

    /* shadow */
    --shadow-soft: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
}